
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px; 
}


.picture-card {
    width: 100%;
    max-width: 100%; 
    height: auto; 
}


@media screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }
}
